.title {
    /*color: rgb(184, 171, 171);*/
    color: rgba(247, 239, 239, 0.884);
    font-size: 80px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

p {
    font-size: 23px;
}

.text {
    padding: 8%;
    background: rgba(255, 255, 255, 0.753);
    text-align: justify;
  }

  .header {
      font-size: 45px;
      margin-top: -20px;
  }

  .list {
      padding: 2%;
      list-style: none;
  }

  .thumbnail{
      width: 50%;
      position: relative;
      z-index: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-bottom: 2%;
      margin-top: 2%;
  }



  @media screen and(max-width: 960px) {
    .title > h1 {
        font-size: 70px;
        margin-top: -150px;
    }

    .text {
        font-size: 20px;
    }

    .text > h1 {
        font-size: 30px;
        margin-top: -150px;
    }
 
    .header {
        font-size: 20px;
    }


}

    @media screen and(max-width: 768px) {
        .text > h1 {
            font-size: 50px;
          

        }
        .text {
            font-size: 30px;
        }

    }