.title {
    /*color: rgb(184, 171, 171);*/
    color: rgba(247, 239, 239, 0.884);
    font-size: 80px;
    margin: 0px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

p{
    font-size: 23px;
}

.text {
    padding: 4rem;
    background: rgba(255, 255, 255, 0.753);
  }

  .list {
      padding: 4rem;
      list-style: none;
  }

  .thumbnail{
      width: 50%;
      position: relative;
      z-index: 0;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-bottom: 2%;
      margin-top: 2%;
  }
