
.title {
  color: rgba(247, 239, 239, 0.884);
  /*background-color: rgba(253, 253, 253, 0.171);*/
  font-size: 80px;
  margin: 0px;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

p{
  font-size: 23px;
}

.text {
  padding: 4rem;
  background: rgba(255, 255, 255, 0.753);
}

.row {
  padding: 3%;
  background: rgba(138, 159, 204, 0.308);
}

p {
    justify-content: right;
    color: #000;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 24px; 
  }

.header {
  font-size: 34px;
  text-align: center;
}

.subheader {
  font-size: 23px;
  text-align: center;
}

.list {
  font-size: 20px;
  padding: 5%;
  line-height: 80%;
}

/*  Columns */

.fullsize {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 3% auto;
    display: block;
    position: relative;
    z-index: 0;
    }

.aligncenter {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 0;
}

  /* Add a card effect for articles */
  .card {
    background-color: rgba(245, 236, 236, 0.884);
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
  }
  



