.title {
    color: rgba(247, 239, 239, 0.884);
    font-size: 80px;
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.text {
    padding: 4rem;
    background: rgba(255, 255, 255, 0.753);
    justify-content: right;
    color: #000;
    font-size: 23px;
    line-height: 24px; 
}


.header {
  font-size: 34px;
  text-align: center;
  margin: 2%;
}

.subheader {
  font-size: 23px;
  text-align: center;
}

.list {
  font-size: 20px;
  padding: 5%;
  line-height: 80%;
}

/*  Columns */

.aligncenter {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 0;
}

  /* Add a card effect for articles */
  .card {
    background-color: rgba(255, 255, 255, 0.699);
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
  }

  @media screen and (max-width: 960px) {
    .title {
        height: 84vh;
    }
    .title > h1 {
      font-size: 60px;
    }
  
  .text > h1 {
    font-size: 40px;
    line-height: 100%;
  }
  .card {
    width: 100%;
    margin: 2%;
    padding: 2rem;
  }
  .card > h1, h3 {
    line-height: 100%;
  }
  .card > p {
   font-size: 20px;
  }
}


