.title {
    color: rgba(247, 239, 239, 0.884);
    font-size: 80px;
    margin: 0px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.text {
    padding: 4rem;
    background: rgba(255, 255, 255, 0.753);
    justify-content: right;
    color: #000;
    font-size: 23px;
    line-height: 24px;
    text-align: justify; 
}

p {
    justify-content: right;
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 36px;
}


/*  Immagini */

.gallery {
    font-size: 16px;
    margin-left: 4%;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 190px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.gallerycard {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 0;
}

.caption {
  padding: 5px;
  text-align: center;
}


.left {
  float: left;
  margin: 0%;
  width: 50%;
} 

.clear {
  clear: both;
}


/* Box immagini */

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 408px;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.boximg {
  width: 100%;
  position: relative;
  height: calc(100% - 41px);
  object-fit: cover; 
  transition: .5s;
  z-index: 0;
}

.boxspan {
  font-size: 12px;
  display: block;
  text-align: center;
  height: 167px;
  line-height: 2.6;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

.map {
    width: 50%;
    margin: 2%;
    position: relative;
    z-index: 0;
}
